.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 420px; 
  width: 500px;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 1rem;
}

@media (max-width: 550px) {
  .box {
    width: 90%;
    border-radius: 0.5rem;
  }
}